/* .glass {
  position: relative;
  overflow: hidden;
}

.glass::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent, rgba(34,211,238,.5), transparent);
  opacity: 0;
  transition: .5s;
}

.glass:hover::before {
  opacity: 1;
} */